<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/0FA5ACA7582FC311E390E054CA0E5CC0F8A540112355D7D935E37129EE33D8B4/scale?width=1200&aspectRatio=1.78&format=jpeg"
      alt=""
      height="200px"
      srcset=""
    >
  </div>

  <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p><a href="#">
      Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Harum minus ratione saepe? Dolorum voluptas
        consequuntur doloremque itaque repellendus, rerum
        itae neque natus rem libero expedita, accusantium
        ratione eligendi adipisci alias.
    </a></p>
  </div>

</div>
