

<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/0FA5ACA7582FC311E390E054CA0E5CC0F8A540112355D7D935E37129EE33D8B4/scale?width=1200&aspectRatio=1.78&format=jpeg"
    cardTitle="NEW DOCTOR STRANGE"
    cardDescription="Marvel studios anuncia novo filme do Doutor estranho"
    ></app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://musicart.xboxlive.com/7/ccb25f00-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080"
      cardTitle="Novo filme do Doutor estranho anunciado"
    ></app-small-card>

    <app-small-card
      photoCover="https://i1.whakoom.com/large/24/25/0abaa58ac06849e6ac08ceef71d9d631.jpg"
      cardTitle="Disney anuncia a nova serie da Marvel chamada, Moon Knight"
    ></app-small-card>

    <app-small-card
      photoCover="https://static3.tcdn.com.br/img/img_prod/460977/action_figure_pantera_negra_black_panther_pantera_negra_black_panther_mms470_escala_1_6_hot_toys_31695_11_20190918174802.jpg"
      cardTitle="Filme do Pantera Negra 2 é um tributo ao ator Chadwick Boseman"
    ></app-small-card>

  </div>
</div>
