<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    id="1"
      photoCover="https://media.contentapi.ea.com/content/dam/news/www-ea/images/2022/09/ea-motive-new-title-teaser-16x9-featured.jpg.adapt.crop16x9.575p.jpg"
      cardTitle="NOVO JOGO DO HOMEM DE FERRO"
      cardDescription="Marvel anuncia que fez uma nova parceria com a Motive para desenvolver o novo jogo do Homem de ferro."
    ></app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
    id="2"
      photoCover="https://musicart.xboxlive.com/7/ccb25f00-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080"
      cardTitle="Novo filme do Doutor estranho anunciado"
    ></app-small-card>

    <app-small-card
    id="3"
      photoCover="https://www.rbsdirect.com.br/imagesrc/35798348.jpg?version=1575255600"
      cardTitle="Homem aranha atraves do aranhaverso"
    ></app-small-card>

    <app-small-card
    id="4"
      photoCover="https://p2.trrsf.com/image/fget/cf/940/0/images.terra.com/2022/11/09/a6fe0e439a9ff4e304e0b6ff30992141_xl-sl14m8j1y9gl.jpg"
      cardTitle="Filme do Pantera Negra 2 é um tributo ao ator Chadwick Boseman"
    ></app-small-card>

  </div>
</div>
